{% load static %}

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lucidia-signin Page</title>
	<link rel="stylesheet" href="{% static 'asset/registerstyles.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
	body{
		background-color: #1f2029;
		color: white;
	}
	
  input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #45ffbc;
	outline: none;
  }

 input::placeholder{
	color: grey;
 }
</style>
<body >
	<div class="content">
		<div class="flex-div">
			<div class="name-content">
				<h1 class="logo" style="color:#45ffbc">Lucidia</h1>
				<p>Place to share your Ideas,Connect with friends and the world around you.</p>
			</div>


		
		 <div class="form" style=" background: rgba(0,0,0,.5);
		 box-sizing: border-box;
		 box-shadow: 0 15px 25px rgba(0,0,0,.6);
		 border-radius: 10px;">
				<div class="titlef" style="color:white">Sign in</div>

				<form action="{% url 'auth:login' %}" method="post">
					{% csrf_token %}
					<input type="text" placeholder="Username " name="uname" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;"/>
					<input type="password" placeholder="Password" name="pswd"style="border: none;
					border-bottom: 1px solid #45ffbc;
					outline: none;color:white;">
					<button class="login" type="submit" style="background: rgb(96,9,240);
					background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
					border: none;">Sign In</button>
					{% for i in messages %}
					<p style="color:orange ;">{{i}}</p>
					{% endfor %}
					
				</form>
				<a href="{% url 'auth:register' %}" class="create-account" style="color: #45ffbc;background-color: transparent;text-decoration: none;">
					not registered? signup 
				</a>

			</div>
		</div>
	</div>
</body>

</html>